{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Inventory</h1>
    <h6 class="mt-4">Name:</h5>
    <p class="mt-1">{{name}}</p>

    <h6 class="mt-4">Class:</h5>
    <p class="mt-1">{{class}}</p>

    <div class="card-deck" id="product_container">
        {% for inventory in products %}
            <div class="card border-secondary mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{inventory.name}}</h5>
                    <p class="card-text">Amount: {{inventory.amount}}</p>
                    <p class="card-text">Description: {{inventory.description}}</p>
                    <p class="card-text">Date Added: {{inventory.date_added}}</p>
                    <a href="{% url 'main:edit_product' inventory.pk %}" class="btn btn-primary">
                        Edit
                    </a>
                    <a href="{% url 'main:delete_product' inventory.pk %}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <br />

    <a href="{% url 'main:create_product' %}" class="btn btn-primary mb-3">
        Add New Product
    </a>

    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Product by AJAX
    </button>

    <h5 class="mt-3">Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:logout' %}" class="btn btn-light mb-3" style="background-color: lightgrey">
        Logout
    </a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<script>
    refreshProducts();

    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_container").innerHTML = `<div class="card-deck">${htmlString}</div>`
        const products = await getProducts()
        let htmlString = "";
        products.forEach((item) => {
            htmlString += `<div class="card">`;
            htmlString += `<div class="card-body">`;
            htmlString += `<h5 class="card-title">${item.fields.name}</h5>`;
            htmlString += `<p class="card-text">Amount: ${item.fields.amount}</p>`;
            htmlString += `<p class="card-text">Description: ${item.fields.description}</p>`;
            htmlString += `</div></div>`;

        });

        document.getElementById("product_container").innerHTML = `<div class="card-deck">${htmlString}</div>`
    }

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

</script>

{% endblock content %}
