{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Inventory</h1>
    <h6 class="mt-4">Name:</h5>
    <p class="mt-1">{{name}}</p>

    <h6 class="mt-4">Class:</h5>
    <p class="mt-1">{{class}}</p>

    <div class="card-deck">
        {% for inventory in products %}
            <div class="card border-secondary mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{inventory.name}}</h5>
                    <p class="card-text">Amount: {{inventory.amount}}</p>
                    <p class="card-text">Description: {{inventory.description}}</p>
                    <p class="card-text">Date Added: {{inventory.date_added}}</p>
                    <a href="{% url 'main:edit_product' inventory.pk %}" class="btn btn-primary">
                        Edit
                    </a>
                    <a href="{% url 'main:delete_product' inventory.pk %}" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <br />

    <a href="{% url 'main:create_product' %}" class="btn btn-primary">
        Add New Product
    </a>

    <h5 class="mt-3">Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:logout' %}" class="btn btn-light mb-3" style="background-color: lightgrey">
        Logout
    </a>
</div>
{% endblock content %}
